.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  max-width: 90%;
}
.card {
  width: 300px;
  box-shadow: 0 2px 10px var(--color-border);
  padding: 8px;
  border-radius: 4px;
  height: 200px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}
.card:nth-child(1) {
  animation-delay: 0.2s;
}
.card:nth-child(2) {
  animation-delay: 0.4s;
}
.card:nth-child(3) {
  animation-delay: 0.6s;
}
.card:nth-child(4) {
  animation-delay: 0.8s;
}
.card:nth-child(5) {
  animation-delay: 1s;
}
.card:nth-child(6) {
  animation-delay: 1.2s;
}
.card:nth-child(7) {
  animation-delay: 1.4s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card header {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-border);
}
.card > div {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
}
.card ul {
  list-style: none;
  font-weight: bold;
  color: var(--color-text);
}
