@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f5f5;
}
:root {
  --bg: #62b53f;
  --color-border: #479923;
  --color-text: #1a380d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
